@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.searchbar {
  margin-right: 0.5rem;
}

.navbar-brand {
  margin-left: 0.7rem;
  font-family: "League Gothic";
  font-size: 2.5rem;
}

.navbar {
  border-bottom: 1px gray solid;
}

.salesImage {
  width: 100%;
  padding: 0px;
}

.card {
  border-radius: 0;
}

.card-img-top {
  width: 100%;
  height: 45vh;
  border-radius: 0;
}

.btn-light {
  border-radius: 0;
  border: 1px black solid;
  background-color: white;
}

.vinylTitle {
  border-bottom: 1px solid grey;
  margin-bottom: 1.5rem;
}

.body-vinyl {
  height: 12vh;
}

.mensContainer {
  width: 90%;
  padding: 1rem;
}

.clothesTextContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid gray;
  margin-bottom: 1rem;
}

.clothesTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.clothesSubTitle {
  font-size: 0.8rem;
  margin-left: 0.7rem;
  margin-top: 0.2rem;
}



@media (max-width: 500px) {
  .barCart {
    margin: 1rem 0;
    width: 100%;
  }

  .searchbar {
    width: 80%;
    margin-right: 1rem;
  }

  .keepTogether {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .body-vinyl {
    height: 20vh;
  }

  .card {
    margin-bottom: 1rem;
  }

  .salesImage {
    height: 10vh;
  }

  .clothesTextContainer {
    justify-content: center;
  }

}